<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="da70b5">  <td>19/11/25 15:50:40</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;beforeAfter.openurl()[pri:0, instance:mainTestcase.AppTest@26f67b76]">&gt;&gt;openurl</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2081853534</td>   <td></td> </tr>
<tr bgcolor="f88f98">  <td>19/11/25 15:50:50</td>   <td>9493</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test()[pri:0, instance:mainTestcase.AppTest@26f67b76]">test</td> 
  <td>main@2081853534</td>   <td></td> </tr>
<tr bgcolor="f88f98">  <td>19/11/25 15:50:51</td>   <td>11048</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AppTest.test1()[pri:0, instance:mainTestcase.AppTest@26f67b76]">test1</td> 
  <td>main@2081853534</td>   <td></td> </tr>
<tr bgcolor="da70b5">  <td>19/11/25 15:50:51</td>   <td>11066</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;beforeAfter.driverclose()[pri:0, instance:mainTestcase.AppTest@26f67b76]">&lt;&lt;driverclose</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@2081853534</td>   <td></td> </tr>
</table>
